body {
  background-image: url("bg-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
}

main{
  display: flex;
  flex-direction: column;
}

a {
  color: rgba(249, 247, 247, 0.893);
  text-decoration: none;
  padding: 5px;
  margin: 0 auto;
}


.cityWeather {
  color: white;
  text-align: center;
  padding: 10px;
}

.hourlyForecast {
  background-color: #ffffff56;
  backdrop-filter: blur(10px);
  height: 40vh;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.weatherPerHour {
  background-color: #ffffff0f;
  border-radius: 50px;
  border: 1px solid;
  width: 15%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current {
  background-color: rgb(43, 43, 227);
}
